* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
.submit{
  cursor: pointer;
  padding: .6rem 1.3rem;
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 700;
  transition: .2s ease;
  margin-right: .5rem;
}

button,
.submit:hover{
  background: rgb(90, 88, 88);
}

.header{
  background: #333;
  color: #fff;
  margin-bottom: 3rem;
  padding: 1rem;
}

input{
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #333;
}

input:focus,
input:hover{
  border-bottom: 2px solid #000;
}

.list{
  line-height: 2.5;
}

.success{
  line-height: 2;
}

.success p{
  font-size: 1.1rem;
}

b{
  font-size: 1.1rem;
  color: #222;
}

a{
  color: #222;
  display: inline-block;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.details{
  padding-bottom: 1rem;
}

