nav{
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
}

nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

.logo{
    font-weight: 700;
    font-size: 1.4rem;
}

a{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 800px){
    nav{
        flex-direction: column;
    }
}

@media (max-width: 500){
    nav{
        flex-direction: row;
    }

    nav ul{
        display: grid;
    }

    nav .logo{
        display: none;
    }
}